{{#each products}}
<div>
    title: {{this.title}} <br>
    description: {{this.description}} <br>
    price: {{this.price}} <br>
    quantity: {{this.quantity}} <br>
    <br>
</div>
{{/each}}
<a href="/products">Go back</a> <br>