<form id="chat_form">
    <input type="text" name="mensaje" id="mensaje"> <br>
    <button onclick="submit">send</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>